Installation/VSCode-win32-x64-1.63.0/Code.VisualElementsManifest.xml
Installation/VSCode-win32-x64-1.63.0/Code.exe
Installation/VSCode-win32-x64-1.63.0/chrome_100_percent.pak
Installation/VSCode-win32-x64-1.63.0/chrome_200_percent.pak
Installation/VSCode-win32-x64-1.63.0/d3dcompiler_47.dll
Installation/VSCode-win32-x64-1.63.0/ffmpeg.dll
Installation/VSCode-win32-x64-1.63.0/icudtl.dat
Installation/VSCode-win32-x64-1.63.0/libEGL.dll
Installation/VSCode-win32-x64-1.63.0/libGLESv2.dll
Installation/VSCode-win32-x64-1.63.0/resources.pak
Installation/VSCode-win32-x64-1.63.0/snapshot_blob.bin
Installation/VSCode-win32-x64-1.63.0/v8_context_snapshot.bin
Installation/VSCode-win32-x64-1.63.0/vk_swiftshader.dll
Installation/VSCode-win32-x64-1.63.0/vk_swiftshader_icd.json
Installation/VSCode-win32-x64-1.63.0/vulkan-1.dll
Installation/VSCode-win32-x64-1.63.0/bin/*
Installation/VSCode-win32-x64-1.63.0/locales/*
Installation/VSCode-win32-x64-1.63.0/resources/*
Installation/VSCode-win32-x64-1.63.0/swiftshader/*
Installation/VSCode-win32-x64-1.63.0/tools/*